<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<button {{ action 'enable' 'first'}}>Enable First</button>
<button {{ action 'enable' 'second'}}>Enable Second</button>
<button {{ action 'enable' 'third'}}>Enable Third</button>

{{#mc-modal displayable=firstModalDisplayable
            closable=true
            headerText='FIRST MC MODAL HEADER'
            footerText='MC MODAL FOOTER'}}
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula pulvinar cursus. Maecenas mollis justo ac metus ultrices, et maximus lorem consectetur. Aenean porttitor, ligula ut fermentum elementum, magna risus feugiat ipsum, sit amet interdum purus velit vitae lorem. Cras auctor porta mi, in blandit tortor ullamcorper non. Mauris dolor lorem, tempor ut eleifend a, laoreet at nisl. Maecenas dictum nisi risus, sed feugiat felis maximus et. Ut vel mi ut arcu luctus dictum quis vel lorem. Donec aliquet porta massa vitae tincidunt. Etiam at neque eu lectus sodales congue. Aenean ac eros ac massa elementum bibendum ut eu mauris. Sed ultrices libero ac vehicula blandit.
    </p>

    <p>
      Curabitur et enim a tellus congue consequat a ut quam. Quisque vel mauris a libero ultrices imperdiet. Ut vel ullamcorper augue. Maecenas condimentum est eget orci pulvinar, molestie pulvinar lacus vulputate. Quisque fermentum rutrum nunc, a fringilla leo suscipit non. Proin aliquam felis at neque accumsan consequat. Mauris sollicitudin mattis semper. Sed ac nibh pharetra, sagittis sem quis, rhoncus est. Fusce tristique, ligula eu accumsan congue, ex sem blandit nulla, eu euismod neque orci tempor ex. Phasellus eu molestie leo.
    </p>

    <p>
      Aenean gravida ligula et congue posuere. Pellentesque ut pretium turpis. Nam sit amet eros vehicula, egestas mauris at, blandit ipsum. Vestibulum dictum aliquam auctor. Suspendisse ut accumsan nunc. Nam vulputate rhoncus molestie. Nunc porttitor sed neque non ultricies. Etiam blandit nulla ac massa vestibulum facilisis. Proin mattis ligula nibh, vitae sagittis nunc rutrum vel. Mauris hendrerit tincidunt sapien, vestibulum ultricies nisi elementum eu. Vivamus pretium tempor justo, tempor blandit quam tristique nec. Praesent eget lacus lectus. Nulla pulvinar ac elit sit amet dapibus. Aliquam nisl felis, ullamcorper ut scelerisque quis, luctus sed magna.
    </p>

    <p>
      Ut ut commodo neque. Proin ut massa ex. Cras feugiat vel magna nec finibus. Donec ut est commodo, rutrum mauris quis, scelerisque quam. Ut ac nisi quam. Aliquam ac mi hendrerit, finibus turpis non, egestas mi. Suspendisse potenti. Maecenas a nisi in nisi pellentesque egestas ut vitae ex. Etiam nec iaculis turpis, in imperdiet urna. Aenean iaculis, sem elementum feugiat blandit, arcu orci condimentum tortor, in efficitur ex augue quis urna. In eget placerat felis. Cras facilisis erat id odio luctus placerat. Nulla eu convallis dolor. Curabitur quam purus, maximus eu sollicitudin elementum, condimentum eget nulla.
    </p>

    <p>
      Aenean diam urna, mattis eu felis sit amet, aliquet facilisis sapien. Quisque et euismod urna, hendrerit hendrerit eros. Vivamus eget porta enim. Suspendisse ultricies felis quis mauris volutpat cursus. Praesent ac risus sed quam ullamcorper tristique. Cras est tellus, fermentum id vehicula pellentesque, venenatis sed neque. Quisque ullamcorper tellus eu dictum rhoncus. Fusce eu ornare orci.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula pulvinar cursus. Maecenas mollis justo ac metus ultrices, et maximus lorem consectetur. Aenean porttitor, ligula ut fermentum elementum, magna risus feugiat ipsum, sit amet interdum purus velit vitae lorem. Cras auctor porta mi, in blandit tortor ullamcorper non. Mauris dolor lorem, tempor ut eleifend a, laoreet at nisl. Maecenas dictum nisi risus, sed feugiat felis maximus et. Ut vel mi ut arcu luctus dictum quis vel lorem. Donec aliquet porta massa vitae tincidunt. Etiam at neque eu lectus sodales congue. Aenean ac eros ac massa elementum bibendum ut eu mauris. Sed ultrices libero ac vehicula blandit.
    </p>

    <p>
      Curabitur et enim a tellus congue consequat a ut quam. Quisque vel mauris a libero ultrices imperdiet. Ut vel ullamcorper augue. Maecenas condimentum est eget orci pulvinar, molestie pulvinar lacus vulputate. Quisque fermentum rutrum nunc, a fringilla leo suscipit non. Proin aliquam felis at neque accumsan consequat. Mauris sollicitudin mattis semper. Sed ac nibh pharetra, sagittis sem quis, rhoncus est. Fusce tristique, ligula eu accumsan congue, ex sem blandit nulla, eu euismod neque orci tempor ex. Phasellus eu molestie leo.
    </p>

    <p>
      Aenean gravida ligula et congue posuere. Pellentesque ut pretium turpis. Nam sit amet eros vehicula, egestas mauris at, blandit ipsum. Vestibulum dictum aliquam auctor. Suspendisse ut accumsan nunc. Nam vulputate rhoncus molestie. Nunc porttitor sed neque non ultricies. Etiam blandit nulla ac massa vestibulum facilisis. Proin mattis ligula nibh, vitae sagittis nunc rutrum vel. Mauris hendrerit tincidunt sapien, vestibulum ultricies nisi elementum eu. Vivamus pretium tempor justo, tempor blandit quam tristique nec. Praesent eget lacus lectus. Nulla pulvinar ac elit sit amet dapibus. Aliquam nisl felis, ullamcorper ut scelerisque quis, luctus sed magna.
    </p>

    <p>
      Ut ut commodo neque. Proin ut massa ex. Cras feugiat vel magna nec finibus. Donec ut est commodo, rutrum mauris quis, scelerisque quam. Ut ac nisi quam. Aliquam ac mi hendrerit, finibus turpis non, egestas mi. Suspendisse potenti. Maecenas a nisi in nisi pellentesque egestas ut vitae ex. Etiam nec iaculis turpis, in imperdiet urna. Aenean iaculis, sem elementum feugiat blandit, arcu orci condimentum tortor, in efficitur ex augue quis urna. In eget placerat felis. Cras facilisis erat id odio luctus placerat. Nulla eu convallis dolor. Curabitur quam purus, maximus eu sollicitudin elementum, condimentum eget nulla.
    </p>

    <p>
      Aenean diam urna, mattis eu felis sit amet, aliquet facilisis sapien. Quisque et euismod urna, hendrerit hendrerit eros. Vivamus eget porta enim. Suspendisse ultricies felis quis mauris volutpat cursus. Praesent ac risus sed quam ullamcorper tristique. Cras est tellus, fermentum id vehicula pellentesque, venenatis sed neque. Quisque ullamcorper tellus eu dictum rhoncus. Fusce eu ornare orci.
    </p>
  </div>

  <button {{ action 'disable' 'first' }}>Close</button>
{{/mc-modal}}

{{#mc-modal displayable=secondModalDisplayable
            closable=true
            headerText='SECOND MC MODAL HEADER'
            footerText='MC MODAL FOOTER'}}
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula pulvinar cursus. Maecenas mollis justo ac metus ultrices, et maximus lorem consectetur. Aenean porttitor, ligula ut fermentum elementum, magna risus feugiat ipsum, sit amet interdum purus velit vitae lorem. Cras auctor porta mi, in blandit tortor ullamcorper non. Mauris dolor lorem, tempor ut eleifend a, laoreet at nisl. Maecenas dictum nisi risus, sed feugiat felis maximus et. Ut vel mi ut arcu luctus dictum quis vel lorem. Donec aliquet porta massa vitae tincidunt. Etiam at neque eu lectus sodales congue. Aenean ac eros ac massa elementum bibendum ut eu mauris. Sed ultrices libero ac vehicula blandit.
    </p>

    <p>
      Curabitur et enim a tellus congue consequat a ut quam. Quisque vel mauris a libero ultrices imperdiet. Ut vel ullamcorper augue. Maecenas condimentum est eget orci pulvinar, molestie pulvinar lacus vulputate. Quisque fermentum rutrum nunc, a fringilla leo suscipit non. Proin aliquam felis at neque accumsan consequat. Mauris sollicitudin mattis semper. Sed ac nibh pharetra, sagittis sem quis, rhoncus est. Fusce tristique, ligula eu accumsan congue, ex sem blandit nulla, eu euismod neque orci tempor ex. Phasellus eu molestie leo.
    </p>

    <p>
      Aenean gravida ligula et congue posuere. Pellentesque ut pretium turpis. Nam sit amet eros vehicula, egestas mauris at, blandit ipsum. Vestibulum dictum aliquam auctor. Suspendisse ut accumsan nunc. Nam vulputate rhoncus molestie. Nunc porttitor sed neque non ultricies. Etiam blandit nulla ac massa vestibulum facilisis. Proin mattis ligula nibh, vitae sagittis nunc rutrum vel. Mauris hendrerit tincidunt sapien, vestibulum ultricies nisi elementum eu. Vivamus pretium tempor justo, tempor blandit quam tristique nec. Praesent eget lacus lectus. Nulla pulvinar ac elit sit amet dapibus. Aliquam nisl felis, ullamcorper ut scelerisque quis, luctus sed magna.
    </p>

    <p>
      Ut ut commodo neque. Proin ut massa ex. Cras feugiat vel magna nec finibus. Donec ut est commodo, rutrum mauris quis, scelerisque quam. Ut ac nisi quam. Aliquam ac mi hendrerit, finibus turpis non, egestas mi. Suspendisse potenti. Maecenas a nisi in nisi pellentesque egestas ut vitae ex. Etiam nec iaculis turpis, in imperdiet urna. Aenean iaculis, sem elementum feugiat blandit, arcu orci condimentum tortor, in efficitur ex augue quis urna. In eget placerat felis. Cras facilisis erat id odio luctus placerat. Nulla eu convallis dolor. Curabitur quam purus, maximus eu sollicitudin elementum, condimentum eget nulla.
    </p>

    <p>
      Aenean diam urna, mattis eu felis sit amet, aliquet facilisis sapien. Quisque et euismod urna, hendrerit hendrerit eros. Vivamus eget porta enim. Suspendisse ultricies felis quis mauris volutpat cursus. Praesent ac risus sed quam ullamcorper tristique. Cras est tellus, fermentum id vehicula pellentesque, venenatis sed neque. Quisque ullamcorper tellus eu dictum rhoncus. Fusce eu ornare orci.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula pulvinar cursus. Maecenas mollis justo ac metus ultrices, et maximus lorem consectetur. Aenean porttitor, ligula ut fermentum elementum, magna risus feugiat ipsum, sit amet interdum purus velit vitae lorem. Cras auctor porta mi, in blandit tortor ullamcorper non. Mauris dolor lorem, tempor ut eleifend a, laoreet at nisl. Maecenas dictum nisi risus, sed feugiat felis maximus et. Ut vel mi ut arcu luctus dictum quis vel lorem. Donec aliquet porta massa vitae tincidunt. Etiam at neque eu lectus sodales congue. Aenean ac eros ac massa elementum bibendum ut eu mauris. Sed ultrices libero ac vehicula blandit.
    </p>

    <p>
      Curabitur et enim a tellus congue consequat a ut quam. Quisque vel mauris a libero ultrices imperdiet. Ut vel ullamcorper augue. Maecenas condimentum est eget orci pulvinar, molestie pulvinar lacus vulputate. Quisque fermentum rutrum nunc, a fringilla leo suscipit non. Proin aliquam felis at neque accumsan consequat. Mauris sollicitudin mattis semper. Sed ac nibh pharetra, sagittis sem quis, rhoncus est. Fusce tristique, ligula eu accumsan congue, ex sem blandit nulla, eu euismod neque orci tempor ex. Phasellus eu molestie leo.
    </p>

    <p>
      Aenean gravida ligula et congue posuere. Pellentesque ut pretium turpis. Nam sit amet eros vehicula, egestas mauris at, blandit ipsum. Vestibulum dictum aliquam auctor. Suspendisse ut accumsan nunc. Nam vulputate rhoncus molestie. Nunc porttitor sed neque non ultricies. Etiam blandit nulla ac massa vestibulum facilisis. Proin mattis ligula nibh, vitae sagittis nunc rutrum vel. Mauris hendrerit tincidunt sapien, vestibulum ultricies nisi elementum eu. Vivamus pretium tempor justo, tempor blandit quam tristique nec. Praesent eget lacus lectus. Nulla pulvinar ac elit sit amet dapibus. Aliquam nisl felis, ullamcorper ut scelerisque quis, luctus sed magna.
    </p>

    <p>
      Ut ut commodo neque. Proin ut massa ex. Cras feugiat vel magna nec finibus. Donec ut est commodo, rutrum mauris quis, scelerisque quam. Ut ac nisi quam. Aliquam ac mi hendrerit, finibus turpis non, egestas mi. Suspendisse potenti. Maecenas a nisi in nisi pellentesque egestas ut vitae ex. Etiam nec iaculis turpis, in imperdiet urna. Aenean iaculis, sem elementum feugiat blandit, arcu orci condimentum tortor, in efficitur ex augue quis urna. In eget placerat felis. Cras facilisis erat id odio luctus placerat. Nulla eu convallis dolor. Curabitur quam purus, maximus eu sollicitudin elementum, condimentum eget nulla.
    </p>

    <p>
      Aenean diam urna, mattis eu felis sit amet, aliquet facilisis sapien. Quisque et euismod urna, hendrerit hendrerit eros. Vivamus eget porta enim. Suspendisse ultricies felis quis mauris volutpat cursus. Praesent ac risus sed quam ullamcorper tristique. Cras est tellus, fermentum id vehicula pellentesque, venenatis sed neque. Quisque ullamcorper tellus eu dictum rhoncus. Fusce eu ornare orci.
    </p>
  </div>

  <button {{ action 'disable' 'second' }}>Close</button>
{{/mc-modal}}

{{#mc-modal displayable=thirdModalDisplayable
            closable=true
            headerText='THIRD MC MODAL HEADER'
            footerText='MC MODAL FOOTER'}}
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula pulvinar cursus. Maecenas mollis justo ac metus ultrices, et maximus lorem consectetur. Aenean porttitor, ligula ut fermentum elementum, magna risus feugiat ipsum, sit amet interdum purus velit vitae lorem. Cras auctor porta mi, in blandit tortor ullamcorper non. Mauris dolor lorem, tempor ut eleifend a, laoreet at nisl. Maecenas dictum nisi risus, sed feugiat felis maximus et. Ut vel mi ut arcu luctus dictum quis vel lorem. Donec aliquet porta massa vitae tincidunt. Etiam at neque eu lectus sodales congue. Aenean ac eros ac massa elementum bibendum ut eu mauris. Sed ultrices libero ac vehicula blandit.
    </p>

    <p>
      Curabitur et enim a tellus congue consequat a ut quam. Quisque vel mauris a libero ultrices imperdiet. Ut vel ullamcorper augue. Maecenas condimentum est eget orci pulvinar, molestie pulvinar lacus vulputate. Quisque fermentum rutrum nunc, a fringilla leo suscipit non. Proin aliquam felis at neque accumsan consequat. Mauris sollicitudin mattis semper. Sed ac nibh pharetra, sagittis sem quis, rhoncus est. Fusce tristique, ligula eu accumsan congue, ex sem blandit nulla, eu euismod neque orci tempor ex. Phasellus eu molestie leo.
    </p>

    <p>
      Aenean gravida ligula et congue posuere. Pellentesque ut pretium turpis. Nam sit amet eros vehicula, egestas mauris at, blandit ipsum. Vestibulum dictum aliquam auctor. Suspendisse ut accumsan nunc. Nam vulputate rhoncus molestie. Nunc porttitor sed neque non ultricies. Etiam blandit nulla ac massa vestibulum facilisis. Proin mattis ligula nibh, vitae sagittis nunc rutrum vel. Mauris hendrerit tincidunt sapien, vestibulum ultricies nisi elementum eu. Vivamus pretium tempor justo, tempor blandit quam tristique nec. Praesent eget lacus lectus. Nulla pulvinar ac elit sit amet dapibus. Aliquam nisl felis, ullamcorper ut scelerisque quis, luctus sed magna.
    </p>

    <p>
      Ut ut commodo neque. Proin ut massa ex. Cras feugiat vel magna nec finibus. Donec ut est commodo, rutrum mauris quis, scelerisque quam. Ut ac nisi quam. Aliquam ac mi hendrerit, finibus turpis non, egestas mi. Suspendisse potenti. Maecenas a nisi in nisi pellentesque egestas ut vitae ex. Etiam nec iaculis turpis, in imperdiet urna. Aenean iaculis, sem elementum feugiat blandit, arcu orci condimentum tortor, in efficitur ex augue quis urna. In eget placerat felis. Cras facilisis erat id odio luctus placerat. Nulla eu convallis dolor. Curabitur quam purus, maximus eu sollicitudin elementum, condimentum eget nulla.
    </p>

    <p>
      Aenean diam urna, mattis eu felis sit amet, aliquet facilisis sapien. Quisque et euismod urna, hendrerit hendrerit eros. Vivamus eget porta enim. Suspendisse ultricies felis quis mauris volutpat cursus. Praesent ac risus sed quam ullamcorper tristique. Cras est tellus, fermentum id vehicula pellentesque, venenatis sed neque. Quisque ullamcorper tellus eu dictum rhoncus. Fusce eu ornare orci.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula pulvinar cursus. Maecenas mollis justo ac metus ultrices, et maximus lorem consectetur. Aenean porttitor, ligula ut fermentum elementum, magna risus feugiat ipsum, sit amet interdum purus velit vitae lorem. Cras auctor porta mi, in blandit tortor ullamcorper non. Mauris dolor lorem, tempor ut eleifend a, laoreet at nisl. Maecenas dictum nisi risus, sed feugiat felis maximus et. Ut vel mi ut arcu luctus dictum quis vel lorem. Donec aliquet porta massa vitae tincidunt. Etiam at neque eu lectus sodales congue. Aenean ac eros ac massa elementum bibendum ut eu mauris. Sed ultrices libero ac vehicula blandit.
    </p>

    <p>
      Curabitur et enim a tellus congue consequat a ut quam. Quisque vel mauris a libero ultrices imperdiet. Ut vel ullamcorper augue. Maecenas condimentum est eget orci pulvinar, molestie pulvinar lacus vulputate. Quisque fermentum rutrum nunc, a fringilla leo suscipit non. Proin aliquam felis at neque accumsan consequat. Mauris sollicitudin mattis semper. Sed ac nibh pharetra, sagittis sem quis, rhoncus est. Fusce tristique, ligula eu accumsan congue, ex sem blandit nulla, eu euismod neque orci tempor ex. Phasellus eu molestie leo.
    </p>

    <p>
      Aenean gravida ligula et congue posuere. Pellentesque ut pretium turpis. Nam sit amet eros vehicula, egestas mauris at, blandit ipsum. Vestibulum dictum aliquam auctor. Suspendisse ut accumsan nunc. Nam vulputate rhoncus molestie. Nunc porttitor sed neque non ultricies. Etiam blandit nulla ac massa vestibulum facilisis. Proin mattis ligula nibh, vitae sagittis nunc rutrum vel. Mauris hendrerit tincidunt sapien, vestibulum ultricies nisi elementum eu. Vivamus pretium tempor justo, tempor blandit quam tristique nec. Praesent eget lacus lectus. Nulla pulvinar ac elit sit amet dapibus. Aliquam nisl felis, ullamcorper ut scelerisque quis, luctus sed magna.
    </p>

    <p>
      Ut ut commodo neque. Proin ut massa ex. Cras feugiat vel magna nec finibus. Donec ut est commodo, rutrum mauris quis, scelerisque quam. Ut ac nisi quam. Aliquam ac mi hendrerit, finibus turpis non, egestas mi. Suspendisse potenti. Maecenas a nisi in nisi pellentesque egestas ut vitae ex. Etiam nec iaculis turpis, in imperdiet urna. Aenean iaculis, sem elementum feugiat blandit, arcu orci condimentum tortor, in efficitur ex augue quis urna. In eget placerat felis. Cras facilisis erat id odio luctus placerat. Nulla eu convallis dolor. Curabitur quam purus, maximus eu sollicitudin elementum, condimentum eget nulla.
    </p>

    <p>
      Aenean diam urna, mattis eu felis sit amet, aliquet facilisis sapien. Quisque et euismod urna, hendrerit hendrerit eros. Vivamus eget porta enim. Suspendisse ultricies felis quis mauris volutpat cursus. Praesent ac risus sed quam ullamcorper tristique. Cras est tellus, fermentum id vehicula pellentesque, venenatis sed neque. Quisque ullamcorper tellus eu dictum rhoncus. Fusce eu ornare orci.
    </p>
  </div>

  <button {{ action 'disable' 'third' }}>Close</button>
{{/mc-modal}}
